<mat-card>
    <mat-list>
      <div mat-subheader>
        Todos los clientes
      </div>
      <mat-list-item *ngFor = "let c of customers">
        <mat-icon mat-list-icon>clientes</mat-icon>
        <div mat-line>{{ c.customerID }}</div>
        <div mat-line>{{ c.CompanyName }}</div>
        <div mat-line>{{ c.ContactName }}</div>
        <div mat-line>{{ c.ContactTitle }}</div>
        <div mat-line>{{ c.Address }}</div>
        <div mat-line>{{ c.City }}</div>
        <div mat-line>{{ c.Region }}</div>
        <div mat-line>{{ c.PostalCode }}</div>
        <div mat-line>{{ c.Country }}</div>
        <div mat-line>{{ c.Phone }}</div>
        <div mat-line>{{ c.Fax }}</div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  
    <div class="container text-center mt20">
      <button routerLink="/add" mat-raised-button color="primary">Agregar clientes</button>
    </div>
  </mat-card>